
@font-face {
  font-family: "FontAwesome";
  src: url('font/fontawesome-webfont.eot');
  src: url('font/fontawesome-webfont.eot?#iefix') format('eot'), 
  	   url('font/fontawesome-webfont.woff') format('woff'), 
  	   url('font/fontawesome-webfont.ttf') format('truetype'), 
  	   url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
	background-color: #333;
}
#sortable{
	width: 1200px;
	margin: 100px auto;
}
.ui-sortable {
	margin: 100px auto;
	background-color: #ccc;
	-webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    padding: 0; 
    list-style-type: none; 

}
.ui-sortable li.ui-state-default {
	display: block;
	margin: 20px;
	margin-bottom: 100px;
	float: left;
	width: 100px;
	height: 200px;
	line-height: 48px;
	font-size: 1.4em; 
	color: #fff;
	padding: 50px;
	text-indent: 15px;
	background: rgb(78,82,91);
	background: -moz-linear-gradient(top,  rgb(78,82,91) 0%, rgb(57,61,68) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(78,82,91)), color-stop(100%,rgb(57,61,68)));
	background: -webkit-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: -o-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: -ms-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: linear-gradient(to bottom,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(0,0,0,.5);
	text-shadow: -1px -1px 0px rgba(0,0,0,.5);
	font-size: 1.1em;
	cursor: pointer;
	position: relative;
}
.ui-sortable li.ui-state-default:first-child {
	border-top: 0; 
}
.ui-sortable li.ui-state-default:last-child {
	border-bottom: 0;
}
   
.button5 {
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
	padding: 5px;
}

.button5:hover {
    background-color: gray;
    color: white;
}
#allbuttons{
	width: 1200px;
	margin: 100px auto;
}


.container{
	background-color: lightgrey;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
